notebook==5.7.8
jupyterhub==0.9.6;python_version>"2.7"
jupyterlab==0.35.6;python_version>"2.7"
jupyter_kernel_gateway==2.3.0
dask==1.2.2
distributed==1.28.1
tornado<6.0.0
numpy==1.14.3
ipywidgets==7.2.*
pandas==0.22.*
numexpr==2.6.*
matplotlib==3.0.2
scipy==1.1.*
seaborn==0.9.*
scikit-learn>=0.19.1
scikit-image==0.14.*
sympy==1.1.*
cython==0.28.*
patsy==0.5.*
statsmodels==0.9.*
cloudpickle==0.6.1
dill==0.2.*
numba==0.38.*
bokeh==0.13.*
sqlalchemy==1.2.*
#hdf5==1.10.*
h5py==2.7.*
vincent==0.4.*
beautifulsoup4==4.6.*
protobuf==3.*
xlrd==1.2.* 
mlflow>=1.0
